<!-- Sobre nosotros -->
<section id="nosotros">
  <div class="container-fluid text-center p-5 title position-relative">
    <h1
      class="text-light display-2 fuente2 position-absolute bottom-0 start-50 translate-middle-x"
    >
      Sobre Nosotros
    </h1>
  </div>
  <div class="container-fluid p-3">
    <div class="row row-cols-1 row-cols-md-3 g-4 mx-5 align-items-center">
      <div class="col" data-aos="flip-left">
        <h1 class="fuente3 display-6">
          Hola. Nuestra estructura está presente desde hace más de 20 años .
        </h1>
        <h1 class="fuente2 display-4">¡Hacemos lo mejor!</h1>
      </div>
      <div class="col" data-aos="flip-up">
        <div class="position-relative text-center">
          <img
            src="../../../../assets/img/section/sobre-nosotros/chef2.jpg"
            class="img-fluid imgSombra"
          />
          <div
            class="container-fluid text-light position-absolute bottom-0 start-50 translate-middle-x fuente3"
          >
            <h3>Gustavo Romano</h3>
            <p>Cocinero principal</p>
          </div>
        </div>
      </div>
      <div class="col" data-aos="flip-up">
        <div class="position-relative text-center">
          <img
            src="../../../../assets/img/section/sobre-nosotros/chef1.jpg"
            class="img-fluid imgSombra"
          />
          <div
            class="container-fluid text-light position-absolute bottom-0 start-50 translate-middle-x fuente3"
          >
            <h3>José Romano</h3>
            <p>Experto en especies</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container my-5">
    <div
      class="row row-cols-1 row-cols-md-2 g-4 mx-5 align-items-center fuente3"
    >
      <div class="col px-5" data-aos="fade-up">
        <div class="d-flex position-relative contenedor1">
          <img
            src="../../../../assets/img/section/sobre-nosotros/ico-3.png"
            class="flex-shrink-0 me-3"
          />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
            egestas magna at porttitor vehicula nullam augue ipsum dolor.
          </p>
        </div>
      </div>
      <div class="col px-5" data-aos="fade-up">
        <div class="d-flex position-relative contenedor1">
          <img
            src="../../../../assets/img/section/sobre-nosotros/ico.4.png"
            class="flex-shrink-0 me-3"
          />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
            egestas magna at porttitor vehicula nullam augue ipsum dolor.
          </p>
        </div>
      </div>
      <div class="col px-5" data-aos="fade-up">
        <div class="d-flex position-relative contenedor1">
          <img
            src="../../../../assets/img/section/sobre-nosotros/ico-1.png"
            class="flex-shrink-0 me-3"
          />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
            egestas magna at porttitor vehicula nullam augue ipsum dolor.
          </p>
        </div>
      </div>
      <div class="col px-5" data-aos="fade-up">
        <div class="d-flex position-relative contenedor1">
          <img
            src="../../../../assets/img/section/sobre-nosotros/ico-2.png"
            class="flex-shrink-0 me-3"
          />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
            egestas magna at porttitor vehicula nullam augue ipsum dolor.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
