/* Pie de pagina */
.contenedor3 {
  background-image: url(../../../assets/img/footer/footer.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  object-fit: contain;
}
.colPiePag img {
  width: 50px;
  height: 30px;
  object-fit: contain;
  margin: 0px;
}
.imgLogo {
  width: 120px;
  height: 80px;
  object-fit: contain;
}
.colPiePag .row div {
  width: 20px;
  padding: 0px;
}
