<!-- Pie de pagina -->
<div class="container-fluid contenedor3 p-5">
  <div class="row row-cols-1 row-cols-md-3 g-4 align-items-center">
    <div class="col colPiePag text-center" data-aos="fade-up">
      <div class="row">
        <div class="col">
          <a
            href="https://www.linkedin.com/in/rodrigo-romano22/"
            target="_blank"
          >
            <img
              src="../../../assets/img/footer/social-1.png"
              class="img-fluid"
            />
          </a>
        </div>
        <div class="col">
          <a
            href="https://www.linkedin.com/in/rodrigo-romano22/"
            target="_blank"
          >
            <img
              src="../../../assets/img/footer/social-2.png"
              class="img-fluid"
            />
          </a>
        </div>
        <div class="col">
          <a
            href="https://www.linkedin.com/in/rodrigo-romano22/"
            target="_blank"
          >
            <img
              src="../../../assets/img/footer/social-3.png"
              class="img-fluid"
            />
          </a>
        </div>
        <div class="col">
          <a
            href="https://www.linkedin.com/in/rodrigo-romano22/"
            target="_blank"
          >
            <img
              src="../../../assets/img/footer/social-4.png"
              class="img-fluid"
            />
          </a>
        </div>
        <div class="col">
          <a
            href="https://www.linkedin.com/in/rodrigo-romano22/"
            target="_blank"
          >
            <img
              src="../../../assets/img/footer/social-5.png"
              class="img-fluid"
            />
          </a>
        </div>
      </div>
      <p class="fuente1 my-2 text-light my-3">MANTENGASE AL TANTO</p>
      <p class="fuente1 my-2 text-light">Siguenos en nuestras redes sociales</p>
    </div>
    <div class="col text-center" data-aos="fade-up">
      <img src="../../../assets/img/footer/icon.png" class="imgLogo" />
      <p class="text-light fuente1">contacto.bar@restaurante.com</p>
      <p class="text-light">+54 3865 705499</p>
    </div>
    <div class="col text-center" data-aos="fade-up">
      <a class="fuente1 text-light h5 my-1">Inicio</a>
      <br />
      <a class="fuente1 text-light h5 my-1">Destacados</a><br />
      <a class="fuente1 text-light h5 my-1">Nosotros</a><br />
      <a class="fuente1 text-light h5 my-1">Menu</a>
      <br />
      <a class="fuente1 text-light h5 my-1">Noticias</a>
      <br />
      <a class="fuente1 text-light h5 my-1">Delivery</a>
    </div>
  </div>
</div>
