<!-- Pie de pagina -->
<div class="container-fluid contenedor3 p-5">
  <div class="row row-cols-1 row-cols-md-3 g-4 align-items-center">
    <div class="col colPiePag text-center">
      <div class="row">
        <div class="col">
          <a
            href="https://www.linkedin.com/in/rodrigo-romano22/"
            target="_blank"
          >
            <img
              src="../../../assets/img/footer/social-1.png"
              class="img-fluid"
            />
          </a>
        </div>
        <div class="col">
          <a
            href="https://www.linkedin.com/in/rodrigo-romano22/"
            target="_blank"
          >
            <img
              src="../../../assets/img/footer/social-2.png"
              class="img-fluid"
            />
          </a>
        </div>
        <div class="col">
          <a
            href="https://www.linkedin.com/in/rodrigo-romano22/"
            target="_blank"
          >
            <img
              src="../../../assets/img/footer/social-3.png"
              class="img-fluid"
            />
          </a>
        </div>
        <div class="col">
          <a
            href="https://www.linkedin.com/in/rodrigo-romano22/"
            target="_blank"
          >
            <img
              src="../../../assets/img/footer/social-4.png"
              class="img-fluid"
            />
          </a>
        </div>
        <div class="col">
          <a
            href="https://www.linkedin.com/in/rodrigo-romano22/"
            target="_blank"
          >
            <img
              src="../../../assets/img/footer/social-5.png"
              class="img-fluid"
            />
          </a>
        </div>
      </div>
      <p class="fuente3 my-2 text-light my-3">MANTENGASE AL TANTO</p>
      <p class="fuente3 my-2 text-light">Siguenos en nuestras redes sociales</p>
    </div>
    <div class="col text-center">
      <img src="../../../assets/img/footer/icon.png" class="imgLogo" />

      <p class="text-light fuente3">Copyright © 2022. RodriBar.</p>
      <p class="text-light fuente3">Todos los derechos reservados</p>
    </div>
    <div class="col text-center">
      <p class="text-light fuente3">CONTACTO DEL PROGRAMADOR</p>
      <p class="text-light fuente3">rodrigoprograma22@gmail.com</p>
      <p class="text-light">+54 3865-705499</p>
    </div>
  </div>
</div>
