<!-- Noticias -->
<section>
  <div class="container-fluid text-center p-5 title position-relative">
    <h1
      class="fuente2 display-2 text-light position-absolute bottom-0 start-50 translate-middle-x"
    >
      Nuevas Noticias
    </h1>
  </div>
  <div class="container my-5">
    <div class="row row-cols-1 row-cols-md-2 g-4 align-items-center my-2">
      <div class="col">
        <img
          src="../../../../assets/img/section/noticias/img3.jpg"
          class="img-fluid imgSombra"
        />
      </div>
      <div class="col-4 noticiasCentrada fuente3">
        <p class="text-danger fw-bold">NOTICIAS</p>
        <h2 class="fw-bold">Nuevos Platos</h2>
        <p>10 DE ENERO</p>
        <p>
          Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies
          magna et. Quisque euismod orci ut et lobortis.
        </p>
      </div>
    </div>
    <hr class="m-2 d-md-none" />
    <div class="row row-cols-1 row-cols-md-2 g-4 align-items-center my-2">
      <div class="col-4 noticiasCentrada fuente3">
        <p class="text-danger fw-bold">NOTICIAS</p>
        <h2 class="fw-bold">Inauguración</h2>
        <p>10 DE ENERO</p>
        <p>
          Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies
          magna et. Quisque euismod orci ut et lobortis.
        </p>
      </div>
      <div class="col">
        <img
          src="../../../../assets/img/section/noticias/img2.jpg"
          class="img-fluid imgSombra"
        />
      </div>
    </div>
  </div>
</section>
