.title2 {
  background-image: url(../../../../assets/img/section/contacto/img3.jpg);
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center center;
  background-size: cover;
  object-fit: contain;
}
.imgRedes {
  width: 80px;
  height: 50px;
  object-fit: contain;
}
.gifRedes {
  width: 280px;
  height: 350px;
  object-fit: contain;
}
.map {
  width: 100%;
  height: 450px;
}
.contac {
  border-right: 1px black solid;
}
@media screen and (max-width: 1000px) {
  .map {
    height: 250px;
  }
}
@media screen and (max-width: 768px) {
  .contac {
    border-right: 0px rgba(0, 0, 0, 0) solid;
  }
}
