<!-- Productos destacados -->
<section class="my-4" id="destacados">
  <div class="container text-center my-3" data-aos="flip-up">
    <h1 class="fuente2 display-2">Productos Destacados</h1>
  </div>
  <div class="container-fluid">
    <div class="row text-center align-items-center">
      <div class="col imgNosotros" data-aos="fade-up">
        <div class="position-relative">
          <img
            class="img-fluid imgSombra"
            src="../../../../assets/img/section/productos-destacados/ensalada.jpg"
          />
          <h3
            class="text-light fuente3 position-absolute bottom-0 start-50 translate-middle-x d-none d-md-block"
          >
            Comida fresca
          </h3>
        </div>
      </div>
      <div class="col imgNosotros1" data-aos="fade-up">
        <div class="position-relative">
          <img
            class="img-fluid imgSombra"
            src="../../../../assets/img/section/productos-destacados/vino.jpg"
          />
          <h3
            class="text-light fuente3 position-absolute bottom-0 start-50 translate-middle-x d-none d-md-block"
          >
            Vinos de calidad
          </h3>
        </div>
      </div>
      <div class="col imgNosotros" data-aos="fade-up">
        <div class="position-relative">
          <img
            class="img-fluid imgSombra"
            src="../../../../assets/img/section/productos-destacados/hamburgesa.jpg"
          />
          <h3
            class="text-light fuente3 position-absolute bottom-0 start-50 translate-middle-x d-none d-md-block"
          >
            Carne de calidad
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>
