<!-- Productos destacados -->
<section class="my-4" id="destacados">
  <div class="container text-center my-3" data-aos="flip-up">
    <h1 class="fuente1 display-3 fw-bold">Productos Destacados</h1>
  </div>
  <div class="container-fluid">
    <div class="row text-center align-items-center">
      <div class="col imgNosotros" data-aos="fade-up">
        <div class="position-relative">
          <img
            class="img-fluid imgSombra"
            src="../../../../assets/img/section/productos-destacados/ensalada.jpg"
          />
          <p
            class="text-light position-absolute bottom-0 start-50 translate-middle-x d-none d-md-block"
          >
            COMIDA FRESCA
          </p>
        </div>
      </div>
      <div class="col imgNosotros1" data-aos="fade-up">
        <div class="position-relative">
          <img
            class="img-fluid imgSombra"
            src="../../../../assets/img/section/productos-destacados/vino.jpg"
          />
          <p
            class="text-light position-absolute bottom-0 start-50 translate-middle-x d-none d-md-block"
          >
            VINOS DE CALIDAD
          </p>
        </div>
      </div>
      <div class="col imgNosotros" data-aos="fade-up">
        <div class="position-relative">
          <img
            class="img-fluid imgSombra"
            src="../../../../assets/img/section/productos-destacados/hamburgesa.jpg"
          />
          <p
            class="text-light position-absolute bottom-0 start-50 translate-middle-x d-none d-md-block"
          >
            CARNE DE CALIDAD
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
