<div
  class="container-fluid my-2 mx-auto text-center logoBar align-items-center"
>
  <img src="../../../../assets/img/header/icon.png" class="img-fluid" />
</div>
<nav class="navbar navbar-expand-lg align-items-center">
  <div class="container-fluid">
    <h3 class="navbar-brand d-lg-none d-xl-none d-xxl-none text-light">
      Resto Bar
    </h3>
    <button
      class="navbar-toggler navbar-dark text-light"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto d-flex align-items-center fuente1">
        <li class="nav-item enlace">
          <a class="nav-link fw-bold btnNav" aria-current="page">INICIO</a>
        </li>
        <li class="enlace nav-item">
          <a class="nav-link btnNav">SOBRE NOSOTROS</a>
        </li>
        <li class="enlace nav-item">
          <a class="nav-link btnNav">PRODUCTOS</a>
        </li>
        <li class="enlace nav-item">
          <a class="nav-link btnNav">NOTICIAS</a>
        </li>
        <li class="enlace nav-item">
          <a class="nav-link btnNav">DELIVERY</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btnNav">CONTACTANOS</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<app-sobre-nosotros></app-sobre-nosotros>
<app-footer></app-footer>
