<!-- Seccion de pedidos -->
<section id="entregas">
  <div class="container-fluid text-center p-5 title position-relative">
    <h1
      class="fuente2 display-2 text-light position-absolute bottom-0 start-50 translate-middle-x"
    >
      Delivery
    </h1>
  </div>
  <div class="container">
    <div
      class="row row-cols-1 row-cols-md-2 g-4 align-items-center text-center my-0"
    >
      <div class="col mx-auto my-auto">
        <img
          src="../../../../assets/img/section/delivery/delivery.gif"
          class="img-fluid"
        />
      </div>
      <div class="col fuente3">
        <h2 class="text-danger fw-bold">ENTREGAS RAPIDAS</h2>
        <h1 class="fw-bold">Lo pedis? ¡Lo Tenes!</h1>
        <h2 class="text-danger fw-bold my-3">Hace tu pedido!</h2>
        <a href="https://www.linkedin.com/in/rodrigo-romano22/" target="_blank">
          <img
            src="../../../../assets/img/section/delivery/pedidosya.png"
            class="imgPedidos"
          />
        </a>
        <a href="https://www.linkedin.com/in/rodrigo-romano22/" target="_blank">
          <img
            src="../../../../assets/img/section/delivery/wsp.png"
            class="imgPedidos"
          />
        </a>
      </div>
    </div>
  </div>
</section>
<!-- Mini Contacto -->
<section class="my-4">
  <div class="container mx-auto contenedor2 p-4">
    <div class="row align-items-center">
      <div class="col-2 d-none d-md-block">
        <img
          src="../../../../assets/img/section/delivery/ico-05.png"
          class="img-fluid"
        />
      </div>
      <div class="col-6 text-light fuente3">
        <h2>CONTACTANOS AHORA! +54 3865 705499</h2>
        <h4>Atendemos las 24hs al dia</h4>
      </div>
      <div class="col fuente1 text-center">
        <a href="">
          <button class="button fuente3 fw-bold">Reservar Ahora</button>
        </a>
      </div>
    </div>
  </div>
</section>
